/* Dark Theme GTK */

window {
    background-color: #FFFFFF;
    border: none;
    margin: 0;
    padding: 0;
    color: black;
}

* {
    border-width: 0px;
    font-family: "Segoe UI", sans-serif;
}

/* Botões */
button {
    background-color: #2F2F2F;
    border-radius: 4px;
    padding: 6px 12px;
    border: 0px;
}

button:hover {
    background-color: #3A3A3A;
}
